@use "common" as *;

.footerArea {
    background: #e2e8ef;
    padding: 70px 0;
    @include mq(xs){
        padding-top: 250px;
    }
}

.footerWrap {
    margin-bottom: 25px;

    @include mq(md) {
        text-align: center;
    }

    @include mq(xs) {
        text-align: center;
    }

    .titleText {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
    }

    .desc {
        color: #475569;
    }
}

.footerWrapper {
    @include mq(md) {
        text-align: center;
    }

    @include mq(xs) {
        text-align: center;
    }

    .socialLinks {
        ul {
            li {

                margin-right: 10px;
                border-radius: 50%;
                box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
                --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

                @include mq(md) {
                    margin-bottom: 20px;
                }

                @include mq(xs) {
                    margin-bottom: 20px;
                }

                &:nth-child(2) {
                    i {
                        color: #2284c7;
                    }
                }

                &:nth-child(3) {
                    i {
                        color: #f372bf;
                    }
                }

                &:nth-child(4) {
                    i {
                        color: #1e293b;
                    }
                }

                a {
                    i {
                        color: #3cbdf8;
                    }

                    i {
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
                        background: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.footerWidget {
    @include mq(md) {
        text-align: center;
    }

    @include mq(xs) {
        text-align: center;
    }

    .titleText {
        color: #64748b;
        text-transform: uppercase;
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                font-size: 14px;
                font-weight: 500;
                color: #475594;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.copyRightText {
    span {
        font-size: 14px;

        a {
            font-size: 14px;
            color: #6474a5;
        }
    }
}