@use "common" as *;

.heroArea{
    background-image: url(../img/bg/bg-1.jpg);
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: -1;
    padding-top: 100px;
    margin-bottom: 150px;
    @include mq(lg){
       padding-top: 0;
       height: 500px;
    }
    @include mq(md){
       padding-top: 0;
       height: 400px;
    }
    @include mq(xs){
        background-position: top right;
       height: 660px;
    }
}

.hero-text-wrap{
    padding: 180px 0;
    @include mq(lg){
        padding-top: 120px;
    }
    @include mq(md){
        padding-top: 120px;
    }
    .hero-title{
        color: #475569;
        font-size: 32px;
        font-weight: 600;
    }
    .desc{
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 300;
    }
}

.hero-btn{
    background: #94a3b8;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.hero-btn.github-btn{
    background: #334155;
    margin-left: 5px;
}