@use "common" as *;

.openArea {
    background: #475569;
    margin-top: -230px;
}

.openContent {
    padding-top: 150px;
    width: 550px;
    @include mq(md){
        width: auto;
    }
    @include mq(xs){
        width: auto;
    }

    .projectWrapper {
        .projectIcon {
            i {
                font-size: 18px;
            }
        }

        .projectContent {

            h2 {
                color: #fff;
                font-size: 30px;
                font-weight: 600;
            }

            p {
                color: #94a3a6;
                font-weight: 300;

                a {
                    color: #cbd5ce;
                }
            }
        }
    }

    .githubBtn {
        width: 130px;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        background: #334155;
        margin-left: 20px;

        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.githubIcon {
    color: #334155;
    opacity: 0.8;
    text-align: end;
    font-size: 880px;
    margin-top: -290px;
    margin-left: 135px;
    @include mq(xl){
        margin-left: 0;
    }
    @include mq(lg){
        margin-left: 0;
    }
    @include mq(md){
        margin-top: -330px;
        margin-left: -275px;
    }

    i {
        color: #334155;
        opacity: .8;
    }
}